<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/cover.css">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
            <br><br><br><br><br>
            {% block content %}BODY CONTENT GOES HERE{% endblock %}
            </div>
        </div>
    </div>
    <br><br>
    <footer>Copyright 2016 CoralLab</footer>
</body>
</html>